main {
    padding-top: 25px;
    text-align: center;
    margin: auto;
}

#google-img {
    width: 35%;
}

#search-bar {
    width: 75%;
    border-radius: 10px;
    border-color: lightgrey;
}

#search-bar:hover {
    border-color: grey;
    box-shadow: 1px 1px lightgrey;
}

#search-buttons {
    padding-top: 10px;
}

.search-button {
    width: 120px;
    background-color: lightgrey;
    border-radius: 2px;
}

.search-button:hover {
    border-color: grey;
    box-shadow: 1px 2px lightgrey;
}

#apps-img {
    width: 30px;
}

#apps-img:hover {
    box-shadow: 2px 2px lightgrey;
}

nav {
    width: 100%;
    text-align: right;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

li {
    padding: 5px;
}

#sign-in-button {
    background-color: royalblue;
    height: 80%;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

#sign-in-button:hover {
    border-color: white;
    box-shadow: 1px 2px lightgrey;
}

a {
    color: darkslategray;
    text-decoration: none;
}

a:visited {
    color: darkslategray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}